<h1>Welcome Home</h1>

<h2> This is your first List, be nice </h2>

<%= @user.lists.first.name %>
<br>

<h4>Add Some very importent tasks! </h4>

<%= form_for @task do |f| %>
  
  <p>
    <%= hidden_field_tag(:list_id) %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= hidden_field_tag(:list_id) %>
    <%= f.submit %>
  </p>

  <% end %>
